@media (min-width: 576px) {
    .container {
        display: flex;
        gap: 10px;
        justify-content: space-between;
    }
}

.wrapper{
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
}

article{
    width: 400px;
}
img{
    width: 100%;
}
.artikel-1{
    background-color: orange;
    border: 1px;
    border-color: grey;
}
.artikel-2{
    background-color: orange;
    border:1px;
    border-color: grey;

}


@font-face {
    font-family: "Lato";
    font-style: normal;
    font-weight: normal;
    src: url(font/Lato-Regular.ttf);
}
html{
    font-family: Lato;
}
html*{
    
    box-sizing: border-box;
}
.wrapper > footer {
    
    height:100px;
    margin-top: 100px;
    background-color: grey;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;

   

}

