:root {
    --h-space: 30px;
    --gold: #c39065;
    --grey: #707070;
    --lightgrey: #cccccc;
    
}
@font-face {
    font-family: josefin;
    src: url(/001-css-basics/004-Bakery/fonts/josefin-sans-v20-latin-regular.woff);
}
@font-face {
    font-family: josefin;
    src: url(/001-css-basics/004-Bakery/fonts/josefin-sans-v20-latin-300.woff);
    font-weight: 300;
}

@font-face {
    font-family: josefin;
    src: url(/001-css-basics/004-Bakery/fonts/josefin-sans-v20-latin-700.woff);
    font-weight: 700;
}

h1 {
    font-size: 25px;
    font-weight: 300;
    color: var(--grey);
    text-align: center;
    margin: 3rem 0 3rem;
}
html,
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: josefin;
}


img {
    max-width: 100%;
    
}

#main-header {
    background: white;
}
#main-header .row:nth-child(1) {
    display: flex;
    align-items: center;
    padding-top: var(--h-space);
    padding-bottom: var(--h-space);
}
.h-space {
    padding-left: var(--h-space);
    padding-right: var(--h-space);
}
.inner-wrapper {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    padding-left: var(--h-space);
    padding-right: var(--h-space);
    position: relative;
}

#logo {
    flex: 1;
}
#logo img {
    width: 170px;
}
.menu {
    display: none;
}
.menu a {
    text-decoration: none;
    color: var(--grey);
    transition: all 0.3s ease;
    padding: 8px;
    text-align: right;
}
       

#hero img {
    width: 100%;
}

#siegel {
    display: inline-block;
    width: 10rem;
    height: auto;
    position: absolute;
    right: 0;
    transform: translateY(-50%);
}
#main-footer {
    background-color: var(--gold);
    color: white;
}
#main-footer a {
    text-decoration: none;
}

#main-footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
    padding-top: var(--h-space);
    padding-bottom: var(--h-space);
}

#main-footer nav {
    text-align: center;
}
#main-footer ul li {
    margin-bottom: 1em;
}
#end {
    background: var(--grey);
    font-weight: 300;
    font-size: 0.8rem;
    height: 30px;
    text-align: center;
    padding: var(--h-space);
}

a {
    color: inherit;
    transition: all 0.3s ease;
}
a.button {
    display: inline-block;
    padding: 0.5em 1.8em;
    background: white;
    border: 1px solid var(--gold);
    color: inherit;
    /* "inherit" selbe Farbe wie übergeordnetes Element vorgibt */
    text-decoration: none;
    text-transform: uppercase;
    color: var(--lightgrey);
    align-content: center;

}
section .sortiment {
    margin-bottom: 3rem;
}
section .sortiment .items {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-items: center;
    gap: 4rem;
}
section .sortiment .text {
    text-align: center;
    color: var(--lightgrey);
}
#main-footer address {
    display: none;
}


@media screen and (min-width: 768px) {
    #main-header img {
        max-height: 70vh;
        object-fit: cover;
        object-position: cover;
    }
    .menu {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
        gap: 10px;
        font-weight: bold;

    }
    #burger {
        display: none;
    }
    #main-header .inner-wrapper {
        display: flex;
        justify-content: space-between;
    }
    .row .inner-wrapper{
        display: flex;
        justify-content: space-between;
    }
    header .inner-wrapper{
        display: flex;
        justify-content: space-between;
    }
    section .sortiment .items {
        flex-flow: row;
    }
    #main-footer .inner-wrapper {
        display: flex;
        justify-content: space-between;
    }
    #main-footer address {
        display: block;
        font-style: normal;
        padding-top: var(--h-space);
    }
    #main-footer address span {
        margin-bottom: 1em;
        display: block;
    }
    #main-footer ul li {
        text-align: right;
    }
    #main-footer a:hover {
        text-decoration: underline;
    }
    a .button {
        color: var(--gold);
        border: 2px solid var(--gold);
    }
    h1 {
        font-size: 40px;
        text-transform: uppercase;
    }
    
    
    
}


@media (min-width: 1200px) {
}
